<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estudiante</h1>
    <div th:if="${estudiante != null}">
        <p>ID: <span th:text="${estudiante.id}"></span></p>
        <p>Nombre: <span th:text="${estudiante.nombre}"></span></p>
        <p>Apellido: <span th:text="${estudiante.apellido}"></span></p>
        <img th:src="@{${estudiante.imagen}}" alt="Imagen del estudiante" />
    </div>
    <div th:if="${estudiante == null}">
        <p>No se encontró el estudiante.</p>
    </div>
</body>
</html>